header {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: var(--title-1);
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header li {
    cursor: pointer;
    transition: all .2s;
}

.header li:hover {
    color: var(--color-secondary);
}

.active {
    color: var(--color-secondary);
    font-weight: 600;
}